@use "global" as *;

.c-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  color: $navy;
  gap: rem(20);
}

// .c-breadcrumb__item:last-child:before {
// 	content: "›";
// 	margin: 0 rem(8); /* 記号の左右の余白 */
// 	color: $black; /* 記号の色 */
// }

.c-breadcrumb__item:first-child{
  position: relative;
}

.c-breadcrumb__item:first-child:after{
  position: absolute;
  content: '';
  width: rem(7);
  height: rem(7);
  border-top: solid rem(2) $navy;
  border-right: solid rem(2) $navy;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: rem(1);
  top: rem(9);
  left: 115%;
}