@use "global" as *;

.c-btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-decoration: none;
  max-width: rem(202);
  width: 100%;
  padding: rem(20) rem(40);
  background-color: $sea-blue;
  color: white;
  // border: 1px solid $sea-blue;
  font-size: rem(14);
  line-height: 1;
  /* will-change: opacity; */
  font-family: $second-font-family;
  box-shadow: 0 0 0 rem(1) $sea-blue, rem(3) rem(3) 0 0 white, rem(3) rem(3) 0 1px $sea-blue;
  transition: 0.3s;
}

// .c-btn.c-btn-white{
//   background-color: white;
//   color: $sea-blue;
//   box-shadow: 0 0 0 rem(1) $sea-blue, rem(3) rem(3) 0 0 transparent, rem(3) rem(3) 0 1px white;
// }

.c-btn:before {
  content: "";
  position: absolute;
  top: 56%;
  right: rem(32);
  width: rem(40);
  height: rem(1);
  background: white;
  transform: translateY(-50%);
}

.c-btn::after {
  content: "";
  position: absolute;
  top: 55%;
  right: rem(41);
  width: rem(10);
  height: rem(15);
  border-top: rem(1) solid white;
  /* border-right: 2px solid white; */
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

.c-btn:hover {
  background-color: white;
  color: $sea-blue;
  top: rem(-5);
}

.c-btn:hover::before {
  content: "";
  position: absolute;
  top: 56%;
  right: rem(32);
  width: rem(40);
  height: rem(1);
  background: $sea-blue;
  transform: translateY(-50%);
  will-change: opacity;
}

.c-btn:hover::after {
  content: "";
  position: absolute;
  top: 55%;
  right: rem(41);
  width: rem(10);
  height: rem(15);
  border-top: rem(1) solid $sea-blue;
  /* border-right: 2px solid white; */
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  will-change: opacity;
}
