@use "global" as *;

.c-head{
    position: relative;
    display: inline-block;
    width: rem(48);
    height: rem(48);
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $sea-blue;
    @include mq("md") {
        width: rem(80);
        height: rem(80);
    }
}

.c-head:before {
    content: "";
    position: absolute;
    top: 50%;
    right: rem(9);
    width: rem(28);
    height: rem(1);
    background: $sea-blue;
    -webkit-transform: rotate(90deg) translateY(-50%);
    transform: rotate(90deg) translateY(-50%);
    @include mq("md") {
        width: rem(40);
        top: 50%;
        right: rem(19);
    }
  }
  
