<div class="c-card02">
  <div class="c-card02__head">
    <div class="c-card02__head-box">
      <div class="c-card02__head-meta">
        <p class="c-card02__head-age">20代(女性)</p>
        <div class="c-card02__head-tag">ライセンス講習</div>
      </div>
      <h2 class="c-card02__head-title">
        ここにタイトルが入ります。ここにタイトル
      </h2>
    </div>
    <div class="c-card02__head-img">
      <img src="../assets/images/common/voice1.jpg" alt="お客様の声">
    </div>
  </div>
  <div class="c-card02__body">
    <p>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。</p>
  </div>
</div>