<% let title1='ライセンス取得' %>
<% let title2='ウミガメと泳ぐ' %>
<% let title3='カクレクマノミ' %>


<a href="#" class="c-sidebar-card">
  <div class="c-sidebar-card-img">
    <img src="../assets/images/common/blog-card4.jpg" alt="サイドバーの記事画像">
  </div>
  <div class="c-sidebar-card-body">
    <time datetime="2023-11-17">2023.11/17</time>
    <h3 class="c-sidebar-card-title"><%= title1 %></h3>
  </div>
</a>