<h3 class="c-sidebar-head">
  <img src="../assets/images/common/wheel-icon.png" alt="icon">
  <% let title1='人気記事' %>
  <% let title2='口コミ' %>
  <% let title3='キャンペーン' %>
  <div class="c-sidebar-title"><%= title1 %></div>
</h3>