<div class="c-tab">
  <nav class="c-tab__nav">
    <% let tab=['ライセンス<br class="u-mobile">講習','ファン<br class="u-mobile">ダイビング','体験ダイビング']; %>
    <div class="c-tab__item is-checked" data-target="for-tab01">
      <img src="../assets/images/common/wheel-icon.svg" alt="icon">
      <p><%- tab[0] %></p>
    </div>
    <div class="c-tab__item" data-target="for-tab02">
      <img src="../assets/images/common/shark-icon.svg" alt="icon">
      <p><%- tab[1] %></p>
    </div>
    <div class="c-tab__item" data-target="for-tab03">
      <img src="../assets/images/common/fish-icon.svg" alt="icon">
      <p><%- tab[2] %></p>
    </div>
  </nav>
</div>
